{% extends "base.html" %}

{% block content %}

<h1>Editar evento</h1>

<form method="POST">

{% csrf_token %}
<div class="form-group">
{{ form.name.label }}
{{ form.name }}
{{ form.name.errors }}
</div>
<div class="form-group">
	{{ form.category.label }}
{{ form.category }}
{{ form.category.errors }}
</div>
<div class="form-group">
	{{ form.type.label }}
{{ form.type }}
{{ form.type.errors }}
</div>
<div class="form-group">
	{{ form.place.label }}
{{ form.place }}
{{ form.place.errors }}
</div>
<div class="form-group">
	{{ form.address.label }}
{{ form.address }}
{{ form.address.errors }}
</div>
<div class="form-group">
	{{ form.start_date.label }}
{{ form.start_date }}
{{ form.start_date.errors }}
</div>
<div class="form-group">
	{{ form.end_date.label }}
{{ form.end_date }}
{{ form.end_date.errors }}
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary">Enviar</button>
</div>
</form>

{% endblock %}